# Common ignores
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse / IntelliJ / Build Tools
out/
!**/src/main/**/out/
!**/src/test/**/out/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
.idea
*.iws
*.iml
*.ipr

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Todo app specific ignores
node_modules/
.env
